.history_area {
    display: block;
    border: 1px solid rgba(198,203,222,.45);
    border-radius: 4px;
    border-top-left-radius: 0px;
    padding: 32px 24px 16px 24px;
}

@media (min-width: 768px) {
    .history_area {
        padding: 32px 48px 16px 48px;
    }
}

.history_box {
    width: 100%;
    padding: 32px 0px 32px 0px;
    border-bottom: 1px solid rgba(198,203,222,.45);
}

.history_box:first-child {
    padding: 0px 0px 32px 0px;
}

.history_box:has(+ .pagination) {
    border-bottom: 0px;
}

.history_box .bottom-left {
    text-align: left;
    padding: 16px 0px 0px 0px;
}

.history_box .flex_item.flex_col {
    padding: 0px 48px 0px 0px;
}

.flex_item {
    position: relative;
    width: 50%;
}

@media (min-width: 768px) {
    .flex_item {
        width: 100%;
    }
}

.info_box {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 0px 0px 48px 0px;
}

.indicator-red {
    position: relative;
    padding: 0px 0px 0px 15px;
}

.indicator-green {
    position: relative;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 15px;
}

.indicator-red:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0px;
    width: 10px;
    height: 10px;
    background: rgb(234, 21, 55);
}

.indicator-green:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0px;
    width: 10px;
    height: 10px;
    background: rgb(17, 166, 131);
}


.tab {
    display: none;
}

@media (min-width: 768px) {
    .tab {
        display: block;
        font-size: 16px;
        text-align: center;
        width: fit-content;
        padding: 8px 48px 8px 48px;
        border-radius: 8px 8px 0px 0px;
        border: 1px solid rgba(198,203,222,.45);
        border-bottom: 0px;
    }
}

.history_area .buttons {
    height: 100%;
}

.buttons .button.right {
    position: absolute;
    top: calc(50% - 16px);
    right: 0px;
}