.translation_box,
.result_box {
    width: 100%;
    min-height: 24rem;
    border: 1px solid #161A30;
    border-radius: 10px;
    padding: 16px 16px 51px 16px;
}

@media (min-width: 768px) {
    .translation_box,
    .result_box {
        width: 100%;
    }

    .translation_box {
        border-radius: 16px 0px 0px 16px;
    }

    .result_box {
        border-radius: 0px 16px 16px 0px;
    }
}
